{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="blog-post">
			<h2 class="blog-post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p class="blog-post-meta">{{ post.created_date }} by <a href="#">{{ post.author }}</a></p>
			{{ post.text }}
		</div>
	{% endfor %}
	
  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
{% endblock %}